<!-- Education Section -->
<div class="container">
        <div class="row row-cols-2 mt-3">
            <div class="col">
                <h5>{{ form.title }}</h5>
                {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col d-flex justify-content-end">
            <a href="#"
                hx-get="{% url 'add_education_cancel' %}"
                hx-target="closest .container"
                hx-swap="outerHTML"
                class="text-secondary mx-3">
                Cancel
            </a>
            <a href="#"
                hx-post="{% url 'add_education_submit' %}"
                hx-target="closest .container"
                hx-swap="outerHTML"
                hx-include="closest .container"
                hx-encoding="multipart/form-data"
                class="text-secondary">
                <button class="btn md-yellow-button">Add</button>
            </a>
            </div>
        </div>
        <p class="card-text">
            {{ form.description }}
            {% for error in form.description.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        <hr />
</div>
<!-- End Education Section -->