<tr>
    <td>{{ form.title }}
        {{ form.title.errors}}
    </td>
    <td>{{ form.description }}
        {{ form.description.errors }}
    </td>

    <td><a href="#"
            hx-post="{% url 'add_education_submit' %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-include="closest tr"
            hx-encoding="multipart/form-data"
            class="text-secondary">
            Add
        </a>
    </td>
    <td><a href="#"
            hx-get="{% url 'add_education_cancel' %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            class="text-secondary">
            Cancel
        </a>
    </td>
</tr>