<form
        hx-post="{% url 'ai_edit_education' edu_id %}"
        hx-trigger="submit"
        hx-cache="no-store">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.title }}
        {% for error in form.title.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.description }}
        {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
       <button
            hx-target="#education-row-{{ edu_id }}"
            hx-swap="outerHTML"
            class="btn btn-secondary">Save</button>
    </div>
</form>