<!-- Education Section -->
<div class="container">
        <div class="row row-cols-2">
            <div class="col">
                 <h5>{{ form.title }}</h5>
                {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col d-flex justify-content-end">
                <a href="#"
                   hx-get="{% url 'edit_education_cancel' education.id %}"
                   hx-target="closest .container"
                   hx-swap="outerHTML"
                   class="text-secondary mx-3">
                    cancel
                </a>
                <a href="#"
                   hx-post="{% url 'edit_education_submit' education.id %}"
                   hx-target="closest .container"
                   hx-swap="outerHTML"
                   hx-include="closest .container"
                   class="text-primary">
                    <div class="btn md-yellow-button">Submit</div>
                </a>
            </div>
        </div>
        <p class="card-text">
            {{ form.description }}
            {% for error in form.description.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        <hr />
</div>
<!-- End Education Section -->