{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row mb-5">
            <!-- First Column -->
          <div class="col 6">
              <!-- Skill Section -->
                <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                    <h3>Skills</h3>
                  </div>

                  <div class="card-body">
                      <div class="container text-center">
                        <div class="row row-cols-5">
                          {% for skill in uskills %}
                            <div class="col bg-secondary mx-1 my-1 py-1 position-relative">
                              {{ skill.skill_name }}
                              <a href="{% url 'delete_user_skill' skill.id %}">
                              <button
                                      type="button"
                                      class="btn btn-danger mx-1 float-end"
                                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">X</button></a>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    <div class="d-flex" role="search">
                      <input class="form-control me-2"
                             type="search"
                             name="skill_input" placeholder="Search skill"
                             hx-get="/skill_search"
                             hx-trigger="input changed delay:500ms, search"
                             hx-target="#search-results"
                             hx-indicator=".htmx-indicator">
                    </div>
                  </div>

                  <div id="search-results" class="mt-2">
                    {% include 'skill_search.html' %}
                  </div>
                </div>
              <!-- End Skill Section -->

                <!-- Education Section -->
                <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                    <h3>Education / Certificates</h3>
                  </div>
                  <div class="mt-2 ms-2">
                    <a href="{% url 'add_education' %}"><button type="button" class="btn btn-primary mx-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add</button></a>
                  </div>
                  <div class="card-body">
                    <div id="edit-education"></div>
                    {% for edu in edus %}
                    <div class="row row-cols-2">
                      <div class="col"><h5>{{ edu.title }}</h5></div>
                      <div class="col d-flex justify-content-end">

                          <button
                                  hx-get="{% url 'ai_edit_education' edu.pk %}"
                                  hx-target="#edit-education"
                                  hx-swap="innerHTML"
                                  class="btn btn-primary mx-1"
                                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit
                          </button>

                        <a href="{% url 'delete_education' edu.pk %}"><button type="button" class="btn btn-danger mx-1"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button></a>
                      </div>
                    </div>
                    <p class="card-text">{{ edu.description }}</p>
                    <hr />
                    {% endfor %}
                  </div>
                </div>
                <!-- End Education Section -->

              <!-- Experience Section -->
                  <div class="card mb-5">
                    <div class="card-header bg-dark text-white">
                      <h3>Experience</h3>
                    </div>
                    <div class="mt-2 ms-2">
                      <a href="{% url 'add_experience' %}"><button type="button" class="btn btn-primary mx-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add</button></a>
                    </div>
                    <div class="card-body">
                      <!-- start -->

                      {% for exp in exps %}
                      <div class="container">
                        <!-- First row with 2 columns -->
                        <div class="row rows-cols-3">
                          <div class="col">
                            <div><h5>{{ exp.company }}</h5></div>
                          </div>
                          <div class="col d-flex justify-content-end">
                            {{ exp.start_month }}-{{ exp.start_year}}
                            {% if exp.currently_working %}
                            Current
                            {% else %}
                            {{ exp.end_month }}-{{ exp.end_year}}
                            {% endif %}
                          </div>
                          <div class="col d-flex justify-content-end  ">
                            <a href="{% url 'edit_experience' exp.pk %}"><button type="button" class="btn btn-primary mx-1"
                                                                                 style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
                            <a href="{% url 'delete_experience' exp.pk %}"><button type="button" class="btn btn-danger mx-1"
                                                                                   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button></a>
                          </div>
                        </div>

                        <!-- Second row expanding both columns -->
                        <div class="row">
                          <div>
                            <div>
                              <strong>{{ exp.position }}</strong><br />
                              <ul>
                                <li>{{ exp.task_one }}</li>
                                {% if exp.task_two %} <li>{{ exp.task_two }}</li> {% endif %}
                                {% if exp.task_three %} <li>{{ exp.task_three }}</li> {% endif %}
                                {% if exp.task_four %} <li>{{ exp.task_four }}</li> {% endif %}
                                {% if exp.task_five %} <li>{{ exp.task_five }}</li> {% endif %}
                                {% if exp.task_six %} <li>{{ exp.task_six }}</li> {% endif %}
                                {% if exp.task_seven %} <li>{{ exp.task_seven }}</li> {% endif %}
                                {% if exp.task_eight %} <li>{{ exp.task_eight }}</li> {% endif %}
                                {% if exp.task_nine %} <li>{{ exp.task_nine }}</li> {% endif %}
                                {% if exp.task_ten %} <li>{{ exp.task_ten }}</li> {% endif %}
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                      <hr />
                      {% endfor %}
                      <!-- end -->
                    </div>
                  </div>
              <!-- End Experience Section -->
          </div>
            <!-- End First Column -->

                              <div class="col 6">
                                  <h3>AI Resume</h3>
              Have Jefrrey the AI Assistant here
          </div>
        </div>
    </div>

{% endif %}
{% include 'footer.html' %}