{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row mb-5">
            <!-- First Column -->
          <div class="col 6">
            <h3>Skills</h3>
              <div class="card">
                  <div class="card-body">
                      <button
                              hx-get="{% url 'ai_skill_add' %}"
                              hx-target="#skill-add"
                              hx-swap="afterbegin"
                              class="btn btn-success btn-sm mx-2">Add
                      </button>
                      <div id="skill-result"
                            hx-target="this"
                            hx-swap="innerHTML"
                            hx-get="{% url 'get_skill_list' %}"
                            hx-trigger="load">
                      </div>
                  </div>
              </div>

            <h3>Education</h3>
              <div class="card">
                  <div class="card-body">
                      <button
                              hx-get="{% url 'add_education_submit' %}"
                              hx-target="#edu-list"
                              hx-swap="afterbegin"
                              class="btn btn-success btn-sm mx-2">Add
                      </button>
                      <div id="query_result"
                           hx-target="this"
                           hx-swap="innerHTML"
                           hx-get="{% url 'get_education_list' %}"
                           hx-trigger="load">
                      </div>
                  </div>
              </div>

            <h3>Experience</h3>
              <div class="card">
                  <div class="card-body">
                       <button
                              hx-get="{% url 'add_experience_submit' %}"
                              hx-target="#exp-list"
                              hx-swap="afterbegin"
                              class="btn btn-success btn-sm mx-2">Add
                      </button>

                      <div id="exp_result"
                           hx-target="this"
                           hx-swap="innerHTML"
                           hx-get="{% url 'get_experience_list' %}"
                           hx-trigger="load">
                      </div>
                  </div>
              </div>
          </div>
            <!-- End First Column -->

          <div class="col 6">
            <h3>AI Resume</h3>
            <div class="card">
                <div class="card-body">
                    Place content here that explains how Jeffrey can help and how many coins it will cost.
                </div>
            </div>

           <h3>About Me</h3>
           <div class="card my-3">
               <div class="card-body">
                   <p>
                       You can have Jeffrey rewrite your about for your profile.
                   </p>
                   <hr />
                   <p>
                       {{ pii.about | safe }}
                   </p>
                   <hr />
                   <div class="d-flex justify-content-end">
                       <button
                              hx-get="#"
                              hx-target="#ai-about-info"
                              hx-swap="innerHTML"
                              class="btn md-yellow-button mb-2"
                              onclick="disableCoverLetterButton()">
                          Jeffrey
                      </button>
                   </div>
               </div>
           </div>

            <h3>Experience</h3>
           <div class="card my-3">
               <div class="card-body">
                   You can have Jeffrey give you suggestions for your tasks for each company you have worked for.
               </div>
           </div>

                   {% for exp in exps %}
                    {{ exp.position }} - {{ exp.company }}<br />
                   {% endfor %}

          </div>
        </div>
    </div>

{% endif %}
{% include 'footer.html' %}