{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row mb-5">
            <!-- First Column -->
          <div class="col 6">

            <h2>Education</h2>
              <button
                      hx-get="{% url 'ai_add_education' %}"
                      hx-target="next tbody"
                      hx-swap="afterbegin"
                      class="btn btn-success btn-sm">Add
              </button>
              <div id="query_result"
                   hx-target="this"
                   hx-swap="innerHTML"
                   hx-get="{% url 'get_education_list' %}"
                   hx-trigger="load">
              </div>

            <h2>Experience</h2>
               <button
                      hx-get="{% url 'add_experience_submit' %}"
                      hx-target="#exp-list"
                      hx-swap="afterbegin"
                      class="btn btn-success btn-sm">Add
              </button>

              <div id="exp_result"
                   hx-target="this"
                   hx-swap="innerHTML"
                   hx-get="{% url 'get_experience_list' %}"
                   hx-trigger="load">
              </div>
          </div>
            <!-- End First Column -->



          <div class="col 6">
                                  <h3>AI Resume</h3>
              Have Jefrrey the AI Assistant here
          </div>
        </div>
    </div>

{% endif %}
{% include 'footer.html' %}