{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <h3>Add Job Listing</h3>

                <div class="card">
                    <div class="card-body">
                     <button
                              hx-get="{% url 'job_skill_add' %}"
                              hx-target="#add-job-skill"
                              hx-swap="afterbegin"
                              class="btn btn-success btn-sm mb-2">Add Skill
                      </button>
                        <div id="skill-result"
                            hx-target="this"
                            hx-swap="innerHTML"
                            hx-get="{% url 'get_job_skills' %}"
                            hx-trigger="load">
                      </div>
                    </div>
                </div>

                <form method="POST" action="{% url 'add_job' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Active:</label>
                        {{ form.active }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title:</label>
                        {{ form.title }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Company:</label>
                        {{ form.company }}
                        {% for error in form.company.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">City:</label>
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">State:</label>
                        {{ form.state }}
                        {% for error in form.state.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Job type:</label>
                        {{ form.job_type }}
                        {% for error in form.job_type.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Location:</label>
                        {{ form.location }}
                        {% for error in form.location.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bottom Pay:</label>
                        {{ form.pay_bottom }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Top Pay</label>
                        {{ form.pay_top }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                        {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn lg-button-yellow">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endif %}
{% include 'footer.html' %}