{% load static %}
{% include 'inner-header.html' %}
    <div class="container inner-top-margin">
        <div class="row mb-5">
          <div class="col-4">
              {% include 'user_page/user_info.html' %}
          </div>

          <div class="col 8">

              <div class="container">
                  {% for item in portfolio %}
                    {% if forloop.counter0|divisibleby:2 %}
                      <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% endif %}
                    <div class="col">
                      <div class="card">
                        <img src="../../media/{{ item.portfolio_image }}" class="card-img-top" alt="Portfolio Image">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.title }}</h5>
                          <p class="card-text">{{ item.description}}</p>
                            <a href="{{ item.website_link }}">
                                <button class="btn btn-secondary float-end">View Website</button>
                            </a>
                        </div>
                      </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 or forloop.last %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

          </div>
        </div>
    </div>

{% include 'footer.html' %}