{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
{% include 'recruiter_navbar.html' %}
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <h1>Add Job Listing</h1>
                <form method="POST" action="{% url 'add_job' %}">
                    {% csrf_token %}
                    <p>
                        <strong>Skills: </strong>
                        {% for skill in request.session.job_skills %}
                            {{ skill.1 }},
                        {% endfor %}
                    </p>

                    <div class="mb-3">
                        <label class="form-label">Active:</label>
                        {{ form.active }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title:</label>
                        {{ form.title }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Company:</label>
                        {{ form.company }}
                        {% for error in form.company.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">City:</label>
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">State:</label>
                        {{ form.state }}
                        {% for error in form.state.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Job type:</label>
                        {{ form.job_type }}
                        {% for error in form.job_type.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Location:</label>
                        {{ form.location }}
                        {% for error in form.location.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bottom Pay:</label>
                        {{ form.pay_bottom }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Top Pay</label>
                        {{ form.pay_top }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">About</label>
                        {{ form.about }}
                        {% for error in form.about.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Responsibilities</label>
                        {{ form.responsibilities }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Qualifications</label>
                        {{ form.qualifications }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Benefits</label>
                        {{ form.benefits }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn lg-button-yellow">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endif %}
{% include 'footer.html' %}