{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Add Website to Portfolio</h1>
                <form method="POST" action="{% url 'add_user_portfolio' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.title }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.description }}
                        {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.website_link}}
                        {% for error in form.website_link.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.portfolio_image}}
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn md-yellow-button">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<div class="container col-6 mt-3 mb-5">
  {% for item in port_list %}
    {% if forloop.counter0|divisibleby:2 %}
      <div class="row row-cols-1 row-cols-md-2 g-4">
    {% endif %}
    <div class="col">
      <div class="card mt-4">
        <img src="../../media/{{ item.portfolio_image }}" class="card-img-top" alt="Portfolio Image" width="400" height="300">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description}}</p>

            <a href="{% url 'edit_portfolio' item.pk %}"><button type="button" class="btn btn-primary mx-1"
                              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
                  <a href="{% url 'delete_portfolio' item.pk %}"><button type="button" class="btn btn-danger mx-1"
                                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button></a>

            <a href="{{ item.website_link }}">
                <button class="btn btn-secondary float-end">View Website</button>
            </a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% include 'footer.html' %}