{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Add Experience</h1>
            <form method="POST" action="{% url 'add_experience' %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.company }}
                </div>
                <div class="mb-3">
                    {{ form.position }}
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.start_month }}
                    </div>
                    <div class="col-md-6">
                        {{ form.start_year}}
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.end_month }}
                    </div>
                    <div class="col-md-6">
                        {{ form.end_year}}
                    </div>
                </div>
                <div class="mb-3">
                        <div class="form-check">
                            {{ form.currently_working }}
                            <label class="form-check-label">Currently working here</label>
                        </div>
                </div>

                <div class="mb-3">
                    Add tasks that you completed for this position.
                </div>
                <div class="mb-3">
                    {{ form.task_one }}
                </div>
                <div class="mb-3">
                    {{ form.task_two }}
                </div>
                <div class="mb-3">
                    {{ form.task_three }}
                </div>
                <div class="mb-3">
                    {{ form.task_four }}
                </div>
                <div class="mb-3">
                    {{ form.task_five }}
                </div>
                <div class="mb-3">
                    {{ form.task_six }}
                </div>
                <div class="mb-3">
                    {{ form.task_seven }}
                </div>
                <div class="mb-3">
                    {{ form.task_eight }}
                </div>
                <div class="mb-3">
                    {{ form.task_nine }}
                </div>
                <div class="mb-3">
                    {{ form.task_ten }}
                </div>
                <button type="submit" class="btn btn-secondary">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}