{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Edit Personal Information</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.recruiter.value %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-check">
                            {{ form.recruiter }}
                            <label class="form-check-label">Recruiter</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.city }}
                    </div>
                    <div class="col-md-6">
                        {{ form.state }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    {{ form.phone}}
                </div>
                <div class="mb-3">
                    {{ form.linked_in }}
                </div>
                <div class="mb-3">
                    <label class="form-label">About</label>
                    {{ form.about }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Profile Image</label>
                    {{ form.profile_image }}
                </div>
                <button type="submit" class="btn btn-secondary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}