{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <h1>Edit Job Listing</h1>

             <div class="card">
                    <div class="card-body">
                     <button
                              hx-get="{% url 'job_skill_add' %}"
                              hx-target="#add-job-skill"
                              hx-swap="afterbegin"
                              class="btn btn-success btn-sm mb-2">Add Skill
                      </button>
                        <div id="skill-result"
                            hx-target="this"
                            hx-swap="innerHTML"
                            hx-get="{% url 'get_session_skills' job_id %}"
                            hx-trigger="load">
                      </div>
                    </div>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Active:</label>
                        {{ form.active }}
                    </div>

                    <div class="container text-center">
                      <div class="row row-cols-4">
                        {% for skill in jskills %}
                          <div class="col bg-secondary mx-1 my-1 py-1 position-relative">
                            {{ skill.skill_name }}
                            <a href="{% url 'delete_job_skill' skill.id %}">
                            <button
                                    type="button"
                                    class="btn btn-danger mx-1 float-end"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">X</button></a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>

                    <div class="d-flex" role="search">
                        <input class="form-control me-2"
                               type="search"
                               name="skill_input" placeholder="Search skill"
                               hx-get="/skill_search"
                               hx-trigger="input changed delay:500ms, search"
                               hx-target="#search-results"
                               hx-indicator=".htmx-indicator">
                    </div>
                    <div id="search-results" class="mt-2">
                      {% include 'skill_search.html' %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Title:</label>
                        {{ form.title }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Company:</label>
                        {{ form.company }}
                        {% for error in form.company.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">City:</label>
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">State:</label>
                        {{ form.state }}
                        {% for error in form.state.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Job type:</label>
                        {{ form.job_type }}
                        {% for error in form.job_type.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Location:</label>
                        {{ form.location }}
                        {% for error in form.location.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bottom Pay:</label>
                        {{ form.pay_bottom }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Top Pay</label>
                        {{ form.pay_top }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                        {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        <div class="form-text">
                            To find the best candidates, add skills you are looking for. These are the same skills
                            that job seekers have on their resume. Matching these skills with job seekers give you
                            the best results.
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn lg-button-yellow">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endif %}
{% include 'footer.html' %}