{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Add Website</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.title }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.description }}
                        {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.website_link}}
                        {% for error in form.website_link.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.portfolio_image}}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </form>

            <div class="mt-5">
                Current uploaded image.
                {% if form.instance.portfolio_image %}
                <img src="{{ form.instance.portfolio_image.url }}" class="card-img-top" alt="Portfolio Image">
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endif %}
{% include 'footer.html' %}