{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Add Education/Certifications</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.title }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.description }}
                        {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}