{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Edit Personal Information</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.recruiter.value %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-check">
                            {{ form.recruiter }}
                            <label class="form-check-label">Recruiter</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.first_name }}
                        {% for error in form.first_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name }}
                        {% for error in form.last_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ form.state }}
                        {% for error in form.state.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.email }}
                    {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.phone}}
                </div>
                <div class="mb-3">
                    {{ form.linked_in }}
                </div>
                <div class="mb-3">
                    <label class="form-label">About</label>
                    {{ form.about }}
                    {% for error in form.about.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label class="form-label">Profile Image</label>
                    {{ form.profile_image }}
                </div>
                <div class="mt-5">
               <button hx-post="{% url 'delete_profile_image' %}"
                       hx-target="#data-container"
                       hx-swap="outerHTML"
                       class="btn btn-danger">Delete Image</button>
                    <div id="data-container">
                        <img src="{{ form.instance.profile_image.url }}" class="card-img-top" alt="Portfolio Image">
                    </div>

            </div>
                <button type="submit" class="btn btn-secondary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}