{% extends 'base.html' %}
{% block content %}



<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="media/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="475" height="300" loading="lazy">
      </div>
      <div class="col-lg-6 border border-primary rounded p-4">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Search and apply now</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula magna nec tincidunt ornare. Quisque at purus non nulla efficitur imperdiet. Mauris egestas luctus aliquet.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <form method="POST" action="job/search/">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Search" style="width: 400px;" />
                <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Search</button>
            </form>
        </div>
      </div>

</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 border border-primary rounded p-4">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Find talented people</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula magna nec tincidunt ornare. Quisque at purus non nulla efficitur imperdiet. Mauris egestas luctus aliquet.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <input type="text" name="search_jobs" placeholder="Skill" />
          <a href="#"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Search</button></a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="media/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="475" height="300" loading="lazy">
      </div>
</div>


{% endblock %}