<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Tech Lister</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto"> <!-- Add ms-auto here -->
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <button type="submit" class="btn btn-secondary">Logout</button>
            </a>
          </li>
        {% else %}
            <!-- Login form -->
            <form method="POST" action="{% url 'login' %}" class="d-flex">
              {% csrf_token %}
              <div class="input-group">
                <div>
                  <input type="text" name="username" placeholder="Username" required class="form-control" aria-label="Username">
                </div>
                <div class="mx-2">
                  <input type="password" name="password" placeholder="Password" required class="form-control" aria-label="Password">
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
              </div>
            </form>
          <div>
            <a href="/register"><button class="btn btn-secondary ml-2">Register</button></a>
          </div>


        {% endif %}
      </div>
    </div>
  </div>
</nav>
