{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row mb-5">
                <div class="col-4">
                     <div class="card col4">
                        {% include 'recruiters/recruiter_info.html' %}
                    </div>
                </div>
            <div class="col 8">
              <h3>Messages</h3>
             <table class="table table-hover table-bordered">
                  <thead class="table-dark">
                  <tr>
                      <th scope="col">From</th>
                      <th scope="col">Subject</th>
                      <th scope="col" class="text-center">View</th>
                      <th scope="col" class="text-center">Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for message in messages %}
                  <tr id="delete-message-{{ message.id }}">
                      <td>{{ message.from_user.first_name }} {{ message.from_user.last_name }}</td>
                      <td>
                          {{ message.subject }}
                            <div id="message-row-{{ message.id }}"></div>
                      </td>
                      <td class="text-center">
                          <button
                                  hx-get="{% url 'view_message' message.id %}"
                                  hx-target="#message-row-{{ message.id }}"
                                  hx-swap="innerHTML"
                                  class="btn md-yellow-button">View
                          </button>
                      </td>
                      <td class="text-center">
                          <button
                             hx-get="{% url 'delete_message' message.id %}"
                             hx-confirm="Are you sure you want to delete this message?"
                             hx-target="#delete-message-{{ message.id }}"
                             hx-swap="innerHTML"
                             class="btn btn-danger btn-sm">Delete</button>
                      </td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>

{% endif %}
{% include 'footer.html' %}