{% load static %}
{% include 'inner-header.html' %}
<div class="d-flex justify-content-center align-items-center vh-80 inner-top-margin mb-5">
    <div class="col-3">
        <h1>Register</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="col d-flex justify-content-end">
             <button type="submit" class="btn lg-button-yellow">Register</button>
            </div>
        </form>
    </div>
</div>
{% include 'footer.html' %}