{% load static %}
{% include 'inner-header.html' %}

<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-md-3">
        Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
      <div class="card">
        <div class="card-header header-bg-color-dark text-white">
          Password Reset
        </div>
        <div class="card-body">
          <form method="POST" class="d-flex flex-column">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                  {{ form }}
              </div>
            </div>
            <div class="row mt-2">
              <div class="col d-flex justify-content-end">
                <button type="submit" class="btn lg-button-yellow">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
