<div>
        {% if skills %}
        <div class="card" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                {% for skill in skills %}
                <li class="list-group-item">
                    <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      {{ skill.skill }}
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" hx-post="{% url 'add_user_skill' skill.pk skill.skill %}">Add</button>
                    </div>
                  </div>
                </div>
                </li>
                {% endfor %}
                  </ul>
        </div>
        {% endif %}
</div>