{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6">
        <section class="section1">
          <!-- Content for Section 1 -->
          <div class="card">
            <div class="card-header bg-secondary">
              <h3>Personal Information</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ pii.first_name }} {{ pii.last_name }}</h5>
              <p class="card-text">{{ pii.city }}, {{ pii.state }}</p>
                  <p class="card-text">{{ pii.email }}</p>
                  <p class="card-text">{{ pii.phone }}</p>
                  <p class="card-text">{{ pii.linked_in }}</p>
                  <p class="card-text">{{ pii.facebook }}</p>
                  <p class="card-text">{{ pii.about }}</p>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section class="section2">
          <!-- Content for Section 2 -->
          <div class="card">
            <div class="card-header bg-secondary">
              <h3>Skills</h3>
            </div>
            <div id="search-results" class="mt-2">
              {% include 'skill_search.html' %}
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <section class="section3">
          <!-- Content for Section 3 -->
          <div class="card">
            <div class="card-header bg-secondary">
              <h3>Education / Certificates</h3>
            </div>
            <div class="card-body">
              {% for edu in edus %}
              <h5 class="card-title">{{ edu.title }}</h5>
              <p class="card-text">{{ edu.description }}</p>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section class="section4">
          <!-- Content for Section 4 -->
          <div class="card">
            <div class="card-header bg-secondary">
              <h3>Experience</h3>
            </div>
            <div class="card-body">
              <!-- start -->
              {% for exp in exps %}
              <div class="container">
                <!-- First row with 2 columns -->
                <div class="row">
                  <div class="col-md-6">
                    <div><h5>{{ exp.company }}</h5></div>
                  </div>
                  <div class="col-md-6">
                    <div>
                      {{ exp.start_month }}-{{ exp.start_year}}
                      {% if exp.currently_working %}
                       Current
                      {% else %}
                      {{ exp.end_month }}-{{ exp.end_year}}
                      {% endif %}

                      <button type="button" class="btn btn-primary"
                              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button>
                      <button type="button" class="btn btn-danger"
                              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button>
                    </div>
                  </div>
                </div>
                <!-- Second row expanding both columns -->
                <div class="row">
                  <div>
                    <div>
                      <strong>{{ exp.position }}</strong><br />
                      {{ exp.task_one }}<br />
                      {% if exp.task_two %} {{ exp.task_two }}<br />{% endif %}
                      {% if exp.task_three %} {{ exp.task_three }}<br />{% endif %}
                      {% if exp.task_four %} {{ exp.task_four }}<br />{% endif %}
                      {% if exp.task_five %} {{ exp.task_five }}<br />{% endif %}
                      {% if exp.task_six %} {{ exp.task_six }}<br />{% endif %}
                      {% if exp.task_seven %} {{ exp.task_seven }}<br />{% endif %}
                      {% if exp.task_eight %} {{ exp.task_eight }}<br />{% endif %}
                      {% if exp.task_nine %} {{ exp.task_nine }}<br />{% endif %}
                      {% if exp.task_ten %} {{ exp.task_ten }}<br />{% endif %}
                    </div>
                  </div>

                </div>
              </div>
              {% endfor %}
              <!-- end -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


{% endif %}
{% endblock %}