{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row mb-5">
          <div class="col-4">
              {% include 'users/user_info.html' %}
          </div>
          <div class="col 8">
              <h3>Messages</h3>
             <table class="table table-hover table-bordered">
                  <thead class="table-dark">
                  <tr>
                      <th scope="col">From</th>
                      <th scope="col">Subject</th>
                      <th scope="col" class="text-center">View</th>
                      <th scope="col" class="text-center">Remove</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for message in messages %}
                  <tr>
                      <td>{{ message.from_user.first_name }} {{ message.from_user.last_name }}</td>
                      <td>{{ message.subject }}</td>
                      <td class="text-center">
                          <button
                                  hx-get="{% url 'view_message' message.id %}"
                                  hx-target="#message-row-{{ message.id }}"
                                  hx-swap="innerHTML"
                                  class="btn md-yellow-button">View</button>
                      </td>
                      <td class="text-center">
                          <a href="#">
                              <button class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button>
                          </a>
                      </td>
                  <tr id="message-row-{{ message.id }}"></tr>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
{% endif %}
{% include 'footer.html' %}