{% load static %}
{% include 'inner-header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for result in search_results %}
            <div class="card mb-4" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-3 pt-3 ms-2">
                        <img src="../../media/{{ result.profile_image }}" width="100" height="100" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.first_name }} {{ result.last_name }}</h5>
                            <p class="card-text">
                                {{ result.city }}, {{ result.state }}<br />
                                Skills: {{ result.skills }}
                            </p>
                            <p class="card-text d-flex justify-content-end">
                                    <button hx-get="{% url 'user_resume' result.user_id %}"
                                            hx-target="#data-container"
                                            type="button"
                                            class="btn btn-primary mx-1"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">View More</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div id="data-container">
               <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-9 mt-3"> <!-- Left Column, 25% -->
                            <div id="new-message"></div>
                          <h5>Skill Set</h5>
                          <div class="card-body">
                              <div class="container">
                                  {% for skill in first.uskills %}
                                    {{ skill.skill_name }},
                                  {% endfor %}
                              </div>
                          <div class="card-body mt-3">
                            <h5>Experience</h5>
                          </div>
                                  {% for exp in first.exps %}
                                  <div class="container">
                                    <!-- First row with 2 columns -->
                                    <div class="row rows-cols-3">
                                      <div class="col">
                                        <div><h5>{{ exp.company }}</h5></div>
                                      </div>
                                      <div class="col d-flex justify-content-end">
                                          {{ exp.start_month }}-{{ exp.start_year}}
                                          {% if exp.currently_working %}
                                           Current
                                          {% else %}
                                          {{ exp.end_month }}-{{ exp.end_year}}
                                          {% endif %}
                                      </div>
                                    </div>
                                    <!-- Second row expanding both columns -->
                                    <div class="row">
                                      <div class="mb-3">
                                        <div>
                                          <strong>{{ exp.position }}</strong>
                                            <ul>
                                                <li>{{ exp.task_one }}</li>
                                                {% if exp.task_two %} <li>{{ exp.task_two }}</li> {% endif %}
                                                {% if exp.task_three %} <li>{{ exp.task_three }}</li> {% endif %}
                                                {% if exp.task_four %} <li>{{ exp.task_four }}</li> {% endif %}
                                                {% if exp.task_five %} <li>{{ exp.task_five }}</li> {% endif %}
                                                {% if exp.task_six %} <li>{{ exp.task_six }}</li> {% endif %}
                                                {% if exp.task_seven %} <li>{{ exp.task_seven }}</li> {% endif %}
                                                {% if exp.task_eight %} <li>{{ exp.task_eight }}</li> {% endif %}
                                                {% if exp.task_nine %} <li>{{ exp.task_nine }}</li> {% endif %}
                                                {% if exp.task_ten %} <li>{{ exp.task_ten }}</li> {% endif %}
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endfor %}

                              <div class="card-body mt-3">
                                  <h5>Education</h5>
                                </div>
                                  <div class="card-body">
                                  {% for edu in first.edus %}
                                  <div class="row row-cols-2">
                                    <div class="col"><h5>{{ edu.title }}</h5></div>
                                  </div>
                                  <p class="card-text">{{ edu.description }}</p>
                                  {% endfor %}
                                </div>
                        </div>
                        </div>

                        <div class="col-md-3 mt-3"> <!-- Right Column, 75% -->
                            <h5>{{ first.pii.first_name }} {{ first.pii.last_name }}</h5>
                            <p class="card-text">{{ first.pii.city }}, {{ first.pii.state }}</p>
                            {% if user.is_authenticated %}
                              <p class="card-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                                  </svg>
                                  {{ first.pii.email }}
                              </p>

                            {% if first.pii.phone %}
                              <p class="card-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                  </svg>
                                  {{ first.pii.phone }}
                              </p>
                            {% endif %}

                            {% if first.pii.linked_in %}
                              <p class="card-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                                  </svg>
                                  <a href="{{ first.pii.linked_in }}" class="linkedin-url" target="_blank">Linked In</a>
                              </p>
                            {% endif %}

                                    {% if first.saved_user %}
                                    <div id="removed-user">
                                     <button
                                            hx-post="{% url 'remove_user' first.pii.user.id %}"
                                            hx-target="#removed-user"
                                            hx-swap="innerHTML"
                                            class="btn btn-danger"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Remove Resume</button>
                                    </div>
                                    {% else %}
                                    <div id="saved-user">
                                        {% if first.pii.user.id %}
                                        <button
                                                hx-post="{% url 'save_user' first.pii.user.id %}"
                                                hx-target="#saved-user"
                                                hx-swap="innerHTML"
                                                class="btn btn-primary"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Save Resume
                                        </button>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="mt-2">
                                        {% if first.pii.user.id %}
                                        <button
                                                hx-get="{% url 'new_message' first.pii.user.id %}"
                                                hx-target="#new-message"
                                                hx-swap="innerHTML"
                                                class="btn btn-primary"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                            Message User
                                        </button>
                                        {% endif %}
                                    </div>
                            {% else %}
                            You must be logged in to view all details<br />

                                    <form method="POST" action="{% url 'login' %}" class="d-flex flex-column">
                                        {% csrf_token %}
                                        <div class="row">
                                          <div class="col">
                                            <input type="text" name="username" placeholder="Username" required class="form-control" aria-label="Username">
                                          </div>
                                        </div>
                                        <div class="row mt-2">
                                          <div class="col">
                                            <input type="password" name="password" placeholder="Password" required class="form-control" aria-label="Password">
                                          </div>
                                        </div>
                                        <div class="row mt-2">
                                          <div class="col d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                          </div>
                                        </div>
                                    </form>
                            {% endif %}
                            <a href="{% url 'user_page' userinfo.username %}" target="_blank">
                            <button
                                    class="btn btn-primary mt-2"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">View User Page
                            </button>
                            </a>
                      </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
