<div class="container px-4 text-center">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jobs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'saved_jobs' %}">Saved Jobs</a></li>
            <li><a class="dropdown-item" href="{% url 'applied_jobs' %}">Applied Jobs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resume
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'all_resume' user.pk %}">View Resume</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_resume' %}">Edit Resume</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/portfolio/add">View Portfolio</a></li>
            <li><a class="dropdown-item" href="/user/portfolio/add">Add/Edit Portfolio</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex w-100" method="POST" action="{% url 'job_search' %}">
                {% csrf_token %}
                <input class="form-control w-100 me-2" type="text" name="query" placeholder="Search Jobs" />
                <button type="submit" class="btn btn-outline-primary">Search</button>
      </form>
    </div>
  </div>
</nav>
    <hr />
</div>
