{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

    <div class="container">
        <div class="row">
                <div class="col-4">
                 <div class="card col4">
                <div class="card-body">

                  <div class="row row-cols-3">
                    <div class="col-4">
                      <img src="../../media/{{ pii.profile_image }}" width="125" height="125" />
                    </div>
                    <div class="col-6">

                      <h5 class="card-title">{{ pii.first_name }} {{ pii.last_name }}</h5>
                    </div>
                    <div class="col-2 d-flex justify-content-end">
                      <a href="{% url 'edit_personalinfo' pii.pk %}"><button type="button" class="btn btn-primary mx-1"
                                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
                    </div>
                  </div>
                  <p class="card-text">{{ pii.about | safe }}</p>

                  <h5>Personal Details</h5>
                  <p class="card-text">{{ pii.city }}, {{ pii.state }}</p>
                  <p class="card-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    {{ pii.email }}</p>
                  <p class="card-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                      <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                    </svg>
                    {{ pii.phone }}</p>
                  <p class="card-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                    </svg>
                    {% if pii.linked_in %}
                    <a href="{{ pii.linked_in }}" target="_blank">Linked In</a></p>
                    {% else %}
                    not set
                    {% endif %}

                </div>
                </div>
              </div>
                <div class="col 8">
                  <h3>Saved Jobs</h3>
                  <div>
                    {% include 'saved_jobs.html' %}
                  </div>

                <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                    <h3>Skills</h3>
                  </div>

                  <div class="card-body">
                      <div class="container text-center">
                        <div class="row row-cols-5">
                          {% for skill in uskills %}
                            <div class="col bg-secondary mx-1 my-1 py-1 position-relative">
                              {{ skill.skill_name }}
                              <a href="{% url 'delete_user_skill' skill.id %}">
                              <button
                                      type="button"
                                      class="btn btn-danger mx-1 float-end"
                                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">X</button></a>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    <div class="d-flex" role="search">
                      <input class="form-control me-2"
                             type="search"
                             name="skill_input" placeholder="Search skill"
                             hx-get="/skill_search"
                             hx-trigger="input changed delay:500ms, search"
                             hx-target="#search-results"
                             hx-indicator=".htmx-indicator">
                    </div>
                  </div>

                  <div id="search-results" class="mt-2">
                    {% include 'skill_search.html' %}
                  </div>
                </div>

                  <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                    <h3>Education / Certificates</h3>
                  </div>
                  <div class="mt-2 ms-2">
                    <a href="{% url 'add_education' %}"><button type="button" class="btn btn-primary mx-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add</button></a>
                  </div>
                  <div class="card-body">
                    {% for edu in edus %}
                    <div class="row row-cols-2">
                      <div class="col"><h5>{{ edu.title }}</h5></div>
                      <div class="col d-flex justify-content-end">

                        <a href="{% url 'edit_education' edu.pk %}"><button type="button" class="btn btn-primary mx-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
                        <a href="{% url 'delete_education' edu.pk %}"><button type="button" class="btn btn-danger mx-1"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button></a>
                      </div>
                    </div>
                    <p class="card-text">{{ edu.description }}</p>
                    <hr />
                    {% endfor %}
                  </div>
                </div>


                  <div class="card mb-5">
                    <div class="card-header bg-dark text-white">
                      <h3>Experience</h3>
                    </div>
                    <div class="mt-2 ms-2">
                      <a href="{% url 'add_experience' %}"><button type="button" class="btn btn-primary mx-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add</button></a>
                    </div>
                    <div class="card-body">
                      <!-- start -->

                      {% for exp in exps %}
                      <div class="container">
                        <!-- First row with 2 columns -->
                        <div class="row rows-cols-3">
                          <div class="col">
                            <div><h5>{{ exp.company }}</h5></div>
                          </div>
                          <div class="col d-flex justify-content-end">
                            {{ exp.start_month }}-{{ exp.start_year}}
                            {% if exp.currently_working %}
                            Current
                            {% else %}
                            {{ exp.end_month }}-{{ exp.end_year}}
                            {% endif %}
                          </div>
                          <div class="col d-flex justify-content-end  ">
                            <a href="{% url 'edit_experience' exp.pk %}"><button type="button" class="btn btn-primary mx-1"
                                                                                 style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
                            <a href="{% url 'delete_experience' exp.pk %}"><button type="button" class="btn btn-danger mx-1"
                                                                                   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button></a>
                          </div>
                        </div>

                        <!-- Second row expanding both columns -->
                        <div class="row">
                          <div>
                            <div>
                              <strong>{{ exp.position }}</strong><br />
                              <ul>
                                <li>{{ exp.task_one }}</li>
                                {% if exp.task_two %} <li>{{ exp.task_two }}</li> {% endif %}
                                {% if exp.task_three %} <li>{{ exp.task_three }}</li> {% endif %}
                                {% if exp.task_four %} <li>{{ exp.task_four }}</li> {% endif %}
                                {% if exp.task_five %} <li>{{ exp.task_five }}</li> {% endif %}
                                {% if exp.task_six %} <li>{{ exp.task_six }}</li> {% endif %}
                                {% if exp.task_seven %} <li>{{ exp.task_seven }}</li> {% endif %}
                                {% if exp.task_eight %} <li>{{ exp.task_eight }}</li> {% endif %}
                                {% if exp.task_nine %} <li>{{ exp.task_nine }}</li> {% endif %}
                                {% if exp.task_ten %} <li>{{ exp.task_ten }}</li> {% endif %}
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                      <hr />
                      {% endfor %}
                      <!-- end -->
                    </div>
                  </div>

                </div>
        </div>
    </div>

{% endif %}
{% endblock %}