{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 mt-3"> <!-- Left Column, 25% -->
      <h5>Skill Set</h5>
      <div class="card-body">
          <div class="container">
              {% for skill in resume.uskills %}
                {{ skill.skill_name }},
              {% endfor %}
          </div>
      <div class="card-body mt-3">
        <h5>Experience</h5>
      </div>
              {% for exp in resume.exps %}
              <div class="container">
                <!-- First row with 2 columns -->
                <div class="row rows-cols-3">
                  <div class="col">
                    <div><h5>{{ exp.company }}</h5></div>
                  </div>
                  <div class="col d-flex justify-content-end">
                      {{ exp.start_month }}-{{ exp.start_year}}
                      {% if exp.currently_working %}
                       Current
                      {% else %}
                      {{ exp.end_month }}-{{ exp.end_year}}
                      {% endif %}
                  </div>
                </div>
                <!-- Second row expanding both columns -->
                <div class="row">
                  <div class="mb-3">
                    <div>
                      <strong>{{ exp.position }}</strong>
                        <ul>
                            <li>{{ exp.task_one }}</li>
                            {% if exp.task_two %} <li>{{ exp.task_two }}</li> {% endif %}
                            {% if exp.task_three %} <li>{{ exp.task_three }}</li> {% endif %}
                            {% if exp.task_four %} <li>{{ exp.task_four }}</li> {% endif %}
                            {% if exp.task_five %} <li>{{ exp.task_five }}</li> {% endif %}
                            {% if exp.task_six %} <li>{{ exp.task_six }}</li> {% endif %}
                            {% if exp.task_seven %} <li>{{ exp.task_seven }}</li> {% endif %}
                            {% if exp.task_eight %} <li>{{ exp.task_eight }}</li> {% endif %}
                            {% if exp.task_nine %} <li>{{ exp.task_nine }}</li> {% endif %}
                            {% if exp.task_ten %} <li>{{ exp.task_ten }}</li> {% endif %}
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

          <div class="card-body mt-3">
              <h5>Education</h5>
            </div>
              <div class="card-body">
              {% for edu in resume.edus %}
              <div class="row row-cols-2">
                <div class="col"><h5>{{ edu.title }}</h5></div>

              </div>
              <p class="card-text">{{ edu.description }}</p>

              {% endfor %}
            </div>
      </div>
    </div>

    <div class="col-md-3 mt-3"> <!-- Right Column, 75% -->
        {% if user.is_authenticated %}

                {% if request.session.recruiter == True %}
                    {% if saved_user %}
                    <div id="removed-user">
                     <button
                            hx-post="{% url 'remove_user' pii.user.id %}"
                            hx-target="#removed-user"
                            hx-swap="innerHTML"
                            class="btn btn-danger"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Remove Resume</button>
                    </div>
                    {% else %}
                    <div id="saved-user">
                    <button
                            hx-post="{% url 'save_user' pii.user.id %}"
                            hx-target="#saved-user"
                            hx-swap="innerHTML"
                            class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Save Resume</button>
                    </div>
                    {% endif %}
                {% endif %}

        {% else %}
        You must be logged in to view all details<br />
                <form method="POST" action="{% url 'login' %}" class="d-flex flex-column">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        <input type="text" name="username" placeholder="Username" required class="form-control" aria-label="Username">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col">
                        <input type="password" name="password" placeholder="Password" required class="form-control" aria-label="Password">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                      </div>
                    </div>
                </form>
        {% endif %}
    </div>

  </div>
</div>
{% endblock %}