{% load static %}
{% include 'inner-header.html' %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row mb-5">
          <div class="col-4">
              {% include 'users/user_info.html' %}
          </div>
          <div class="col 8">
              <h3>AI/Tokens</h3>
                <p>
                    To access our AI Assistant Jeffrey's services, you will need to use tokens.
                    Tokens can be spent for various services including getting a customized cover
                    letter for your job application or obtaining expert suggestions and revisions for your resume.
                </p>

                <p>
                    Current token balance: {{ ai_token.amount }}
                </p>
          </div>
        </div>
    </div>

{% endif %}
{% include 'footer.html' %}
